<%= form_with(model: master_category, local: true) do |form| %>
  <% if master_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_category.errors.count, "error") %> prohibited this master_category from being saved:</h2>

      <ul>
        <% master_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
