<center><h1>Editing  Review</h1></center>
<div class="container mt-5">
	<div class="col-md-3">
	</div>
<div class="col-md-12">

<%= render 'form', post_review: @post_review %>

</div>
<div class="col-md-3">
	</div>


</div>
