



<%# Product.order(created_at: :asc).group_by(&:master_category_id).each do |vv, index| %>
<%#= "#{index}" %>
<%# end %>
<div class="container">

  <h1 class="font-weight-light text-center mt-4 mb-0">Product Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
<% @products.each do |product| %>
    <div class="col-lg-3 col-md-4 col-6 product_gallery mb-5">
<b><p> <%= product.name %></p></b>
      <%= link_to product,:class=> "d-block mb-3" do %>
  <%= image_tag(product.image.url,:class=> "img-fluid img-thumbnail") %>
<% end %>
<p><%= product.description.truncate_words(20) %></p>
      
    </div>
    <% end %>
    
  </div>

</div>
<!-- /.container -->




